<html>
<head>
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 
 <script src="js/angular.min.js"></script>
 </head>
<body ng-app="myApp" ng-controller="myCtrl">

<form>
<div>
<div>
New Technology: <input class="form-control" type="text" name="newtech" ng-model="params.newtech"><br>
<input type="submit" ng-click="demo(params)" value="Submit" >
<input type="reset" value="Reset">
<!--<input type="button" value="Submit" id="btnsubmit" onclick="submitForm()">-->
</div>
<div>
<button class="btn btn-block btn-danger" ng-click="getTopics()" value="All Topics" >All Topics</button>
</div>
<div>
<button class="btn btn-block btn-danger" ng-click="getSuggTopics()" value="User Suggested Topics" >User Suggested Topics</button>
</div>
<div id="displayTopics" style="display:none;" >
<!--{{result}}-->
<table border="1">

<tr >
        <th>Author Name</th>
        <th>Topic Name</th>
        <th>Technology</th>
      </tr><tr ng-repeat="x in result">
  <td>{{x.authorname}}</td>
  <td>{{x.topicname}}</td>
  <td>{{x.technology}}</td> 
  <td><input type="submit" ng-click="viewTopic(x._id)" value="View" ></td>   
  <td><input type="submit" ng-click="deleteTopic(x._id)" value="Delete" ></td> 
</tr>
</table>
</div>
<div id="displayTopics1" style="display:none;" >
<!--{{result}}-->
<table border="1">

<tr >
        <th>Topic Name</th>
        <th>Technology</th>
        <th>User EmailId</th>
      </tr><tr ng-repeat="x in result">
  <td>{{x.topicname}}</td>
  <td>{{x.technology}}</td>
  <td>{{x.email}}</td> 
  <td><input type="submit" ng-click="viewSuggTopic(x._id)" value="View" ></td>   
  <td><input type="submit" ng-click="deleteSuggTopic(x._id)" value="Delete" ></td> 
</tr>
</table>
</div>
</div>
</form>
<br>
<div id="submitDiv1" class="container" style="padding: 15px; padding-top: 2px">
  
<div class="padding" id="showData" style="display:none;">

   <div>
    New Technolgy added Successfully ...
   </div>
   
  </div>
  <div class="padding" id="showData1" style="display:none;">

   <div>
    This technology already exists ..please enter new technology..
   </div>
   
  </div>
  <div class="padding" id="showData2" style="display:none;">

   <div>
   Something went wrong...Please try again
   </div>
   
  </div>
    <div class="padding" id="showData3" style="display:none;">

   <div>
   Error while retreieving the topics...Please try again
   </div>
   
  </div>
</div>
<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$window) {
   
    
 
 $scope.demo = function(params) {
 var newtech = params.newtech;
      var json = {

        "newtech": newtech
  };
  
  
  
 // $http.post("http://localhost:8001/registerDataAng",json).then(function(data) {
    $http.post("/newTechAdd",json).then(function(data) {
   
   if (data.data.error=="failed") {
   console.log(JSON.stringify(data))
   
                document.getElementById("showData2").style.display = "block";
            } else if(data.data=="Already exists"){
			document.getElementById("showData1").style.display = "block";
                $window.alert('Please enter another technology');

            }else{
			document.getElementById("showData").style.display = "block";
			}
        })
  
  
 }
 $scope.getTopics = function() {

 $http.get("/retrievAllTopics").then(function(data) {
   
   console.log(JSON.stringify(data));
   if (data.data.error=="failed") {
   console.log(JSON.stringify(data))
   
                document.getElementById("showData3").style.display = "block";
            } else {
			
			$scope.result=data.data;
				document.getElementById("displayTopics").style.display = "block";

            }
        })
 }
  $scope.viewTopic = function(id) {
  alert(id);
  var json={
  "_id" : id
 };
 localStorage.setItem('topicid1',id);
 console.log(json);
 $http.post("/retrieveParticularTopic",json).then(function(data) {
   
   console.log(JSON.stringify(data));
   if (data.data.error=="failed") {
                document.getElementById("showData3").style.display = "block";
            } else {
			$scope.result=data.data;
				document.getElementById("displayTopics").style.display = "block";
				
				
				console.log(data.data._id);
				$window.location.href="/topicview";

            }
        })
 }
  $scope.deleteTopic = function(id) {
  alert(id);
  var json={
  "_id" : id
 };
 console.log(json);
 $http.post("/deleteTopic",json).then(function(data) {
   
   console.log(JSON.stringify(data));
   if (data.data.error=="failed") {
 
   
                document.getElementById("showData3").style.display = "block";
            } else {
			$scope.result=data.data;
				 $window.alert('Topic deleted successfully');
				 $window.location.href="/adminview";

            }
        })
 }
 /*User suggested retreive for admin*/
  $scope.getSuggTopics = function() {

 $http.get("/retrievAllSugg").then(function(data) {
   
   console.log(JSON.stringify(data));
   if (data.data.error=="failed") {
   
    $window.alert('Error while retreiving'); 
            } else {
			
			$scope.result=data.data;
				document.getElementById("displayTopics1").style.display = "block";

            }
        })
 }
 /*View Suggested topic on id*/
  $scope.viewSuggTopic = function(id) {
  alert(id);
  var json={
  "_id" : id
 };
 localStorage.setItem('topicid2',id);
 console.log(json);
 $http.post("/retrieveParticularSuggTopic",json).then(function(data) {
   
   console.log(JSON.stringify(data));
   if (data.data.error=="failed") {
   console.log(JSON.stringify(data))
   
                document.getElementById("showData3").style.display = "block";
            } else {
			$scope.result=data.data;
				document.getElementById("displayTopics").style.display = "block";
				
				
				console.log(data.data._id);
				$window.location.href="/suggtopicview";

            }
        })
 }
 /*Delete suggested topic*/
   $scope.deleteSuggTopic = function(id) {
  alert(id);
  var json={
  "_id" : id
 };
 console.log(json);
 $http.post("/deleteSuggTopic",json).then(function(data) {
   
   console.log(JSON.stringify(data));
   if (data.data.error=="failed") {
 
   
                document.getElementById("showData3").style.display = "block";
            } else {
			
				 $window.alert('Topic deleted successfully');
				 $window.location.href="/adminview";

            }
        })
 }
});
</script>

</body>
</html>