<html>
<head>
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 
 <script src="js/angular.min.js"></script>
 </head>
<body ng-app="myApp" ng-controller="myCtrl">

<form>
UserID: <input class="form-control" type="text" name="Userid" ng-model="params.Userid"><br>
FirstName: <input class="form-control" type="text" name="Firstname" ng-model="params.Firstname"><br>
LastName: <input class="form-control" type="text" name="Lastname" ng-model="params.Lastname"><br>
Password: <input class="form-control" type="text" name="Password" ng-model="params.Password"><br>
<input type="submit" ng-click="demo(params)" value="Submit">
</form>
<br>
<div id="submitDiv1" class="container" style="padding: 15px; padding-top: 2px">
  
<div class="padding" id="showData" style="display:none;">

   <div>
    Data Registered Successfully , Please check the database.
   </div>
   
  </div>
</div>
<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$window) {
   
    
 
 $scope.demo = function(params) {
 var Userid = params.Userid;
 var Firstname = params.Firstname;
 var Lastname = params.Lastname;
 var Password = params.Password;
      var json = {

        "Userid": Userid,
		"Firstname": Firstname,
		"Lastname": Lastname,
		"Password": Password
  };
  
  
  
 // $http.post("http://localhost:8001/registerDataAng",json).then(function(data) {
    $http.post("/registerDataAng",json).then(function(data) {
   
   if (data.data.err==undefined) {
   console.log(JSON.stringify(data))
   
                $scope.firstname = data.data[0].firstname;
                $scope.lastname = data.data[0].lastname;
                $scope.password = data.data[0].password;

                document.getElementById("showData").style.display = "block";
            } else {
                $window.alert('Please Check Entered ID');

            }
        })
  
  
 }
});
</script>

</body>
</html>