<html>
<head>
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 
 <script src="js/angular.min.js"></script>
 </head>
<body ng-app="myApp" ng-controller="myCtrl">

<form>
UserID: <input class="form-control" type="text" name="userid" ng-model="params.userid"><br>
Old Password: <input class="form-control" type="text" name="password" ng-model="params.password"><br>
New Password: <input class="form-control" type="text" name="newpwd" ng-model="params.newpwd"><br>
<input type="submit" ng-click="demo(params)" value="Submit">
</form>
<br>
<div id="submitDiv1" class="container" style="padding: 15px; padding-top: 2px">
  
<div class="padding" id="showData" style="display:none;">

   <div>
    Password Updated Successfully , Please login again and check....
   </div>
   
  </div>
</div>
<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$window) {
   
    
 
 $scope.demo = function(params) {
 var userid = params.userid;
 var password = params.password;
 var newpwd = params.newpwd;
      var json = {

        "userid": userid,
		"password": password,
		"newpwd": newpwd
  };
  
  
  
 // $http.post("http://localhost:8001/registerDataAng",json).then(function(data) {
    $http.post("/changePassword",json).then(function(data) {
   console.log(data.data);
   if (data.data.error=="failed") {
                $window.alert('Some error have occured');
				
				
            } else if(data.data=="Entered userid or password are incorrect"){
                $window.alert('Enter correct UserId and Old password');

            }else{
			$window.alert('Password Updated Successfully , Please login again and check....');
			}
        })
  
  
 }
});
</script>

</body>
</html>