<html>
<head>
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 
 <script src="js/angular.min.js"></script>
 </head>
<body ng-app="myApp" ng-controller="myCtrl">

<form>
<div>
<div>
Topic Name: <input class="form-control" type="text" name="topicname" ng-model="params.topicname"><br>
Technology: <input class="form-control" list="technologies" name="technology" ng-model="params.technology">
  <datalist id="technologies">
    <option value="IIB">
    <option value="Mule">
    <option value="Nodejs">
    <option value="Java">
    <option value="IBM Bluemix">
	<option value="IBM Datapower">
	<option value="WTX">
	<option value="Open Whisk">
	<option value="Angularjs">
	<option value="MongoDb">
	<option value="DB2">
	<option value="MySQL">
  </datalist>

Describe Topic: <input class="form-control" type="text" name="description" ng-model="params.description" placeholder="Authors can keep the post in depth based on your description"><br>
Corporate Email Id: <input class="form-control" type="text" name="email" ng-model="params.email"><br>
Department: <input class="form-control" list="departments" name="department" ng-model="params.department">
  <datalist id="departments">
    <option value="EAI">
    <option value="App Dev">
    <option value="Innovation Labs">
    <option value="B2B">
    <option value="SAP">
	<option value=".Net">
	<option value="Sales">
	<option value="Recruitement">
  </datalist>
  Location: <input class="form-control" list="locations" name="location" ng-model="params.location">
  <datalist id="locations">
    <option value="Miracle city">
    <option value="Miracle Heights">
    <option value="Atlanta">
    <option value="Novi">
    <option value="Detroit">
  </datalist>
<button class="btn btn-block btn-danger" ng-click="demo(params)" value="Submit" >Submit</button>
<button class="btn btn-block btn-danger" type="reset" value="Reset">Reset</button>
<!--<input type="button" value="Submit" id="btnsubmit" onclick="submitForm()">-->
</div>
</div>
</form>
<br>
<div id="submitDiv1" class="container" style="padding: 15px; padding-top: 2px">
  
<div class="padding" id="showData" style="display:none;">

   <div>
    Registered Successfully , Please keep updated ...
   </div>
   
  </div>
   
</div>
<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$window) {
   
    
 
 $scope.demo = function(params) {
 var topicname = params.topicname;
 var technology = params.technology;
 var description = params.description;
 var email = params.email;
 var department = params.department;
 var location = params.location;
      var json = {
        "topicname": topicname,
		"technology": technology,
		"description": description,
		"email": email,
		"department": department,
		"location": location
  };
  
    $http.post("/suggTopicAdd",json).then(function(data) {
	
	if(data.data.error=="failed"){
	$window.alert('Some error occuered while registering');  
   }
   else{
          document.getElementById("showData").style.display = "block";      
	
            } 
        })
  
 }
});
</script>

</body>
</html>